version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        user: mtodzi
        uid: 1000
    container_name: diary-app
    restart: always
    volumes:
      - .:/var/www/html
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: diary-nginx
    restart: always
    ports:
      - "80:80"
      # Раскомментируйте строки ниже для SSL (HTTPS)
      - "443:443"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - app
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: diary-db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

  redis:
    image: redis:alpine
    container_name: diary-redis
    restart: always
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: /bin/sh
    command: -c "certbot certonly --webroot -w /var/www/certbot -d blood-pressure-diary.mtodzi.ru --email admin@mtodzi.ru --agree-tos --no-eff-email --keep-until-expiring && trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"
    networks:
      - app-network

  worker:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      args:
        user: mtodzi
        uid: 1000
    container_name: diary-worker
    restart: always
    command: php artisan queue:work --tries=3 --timeout=90
    depends_on:
      - app
      - db
      - redis
    volumes:
      - .:/var/www/html
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
    driver: local
